# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test
*.log
*.pem

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Binaries
cmd/shortener/main
cmd/shortener/shortener

#logs
cmd/shortener/link.log
internal/app/storage/link.log

#logs
cmd/client/main.go


# Dependency directories (remove the comment below to include it)
vendor/

# IDEs directories
.idea
.vscode

test.http
tests/main_test.go

